* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #cccccc;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    width: 80%;
    height: 600px;
    background-color: bisque;
    gap: 50px;
    /* justify-content: space-between; */
    align-items: center;
}

.flex-item {
    background-color: burlywood;
    padding: 10px;
    font-size: 28px;
    flex-grow: 1;
}

.flex-item:nth-child(1) {
    background-color: aqua;
    align-self: flex-end;
}

.flex-item:nth-child(2) {
    background-color: red;
    align-self: stretch;
    order: -2;
    /* flex-grow: 3; */
}

.flex-item:nth-child(5) {
    background-color: yellow;
    order: -1;
}